<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Ivan Sy">
    <title>BeAmI: The Handy Health Navigator</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/litera/bootstrap.min.css" </head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg bg-primary mb-3">
        <div class="container-fluid ms-2 ">
            <a href="#" class="navbar-brand" style="font-weight: bold;">BeAmI.io</a>
        </div>
    </nav>

    <div class="container">
        <div class="active">
            <h2>Welcome to BeAmI.io</h2>
            <p>We've designed ourselves to give crucial health and fitness information based on your likeness. If
                you're
                <span class="text-danger">ready</span>,
                enter the Begin button and let us do the processing.
            </p>
            <div class="text-center">
                <button class="btn btn-primary w-25 mb-3 mt-3" id="start">Start</button>
            </div>
        </div>

        <div class="ps-5">
            <h4 class="justify-content-center mb-3">Tell me about yourself</h4>
            <form>
                <div id="personal-info">
                    <div class="progress" style="width: 70%">
                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
                            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 33%"></div>
                    </div>
                    <table style="margin-top: -10px;">
                        <tr>
                            <th>
                                <label class="form-label mt-4">(Height in Feet)</label>
                            </th>
                            <th>
                                <label class="form-label mt-4">(Height in Inches)</label>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <input type="number" class="form-control" id="height-feet" placeholder="Enter feet">
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <input type="number" class="form-control" id="height-inches"
                                        placeholder="Enter inches">
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <label class="form-label mt-2">Gender</label>
                            </th>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group mt-2">
                                    <div style="margin-top: -10px;">
                                        <label class="fw-bold text-primary"><input type="radio"
                                                class="form-check-input me-2" name="gender" id="male-choice"
                                                value="male">Male</label>
                                        <label class="fw-bold text-danger ms-3"><input type="radio"
                                                class="form-check-input me-2" name="gender" id="female-choice"
                                                value="female">Female</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>

            </form>
        </div>
    </div>
</body>

</html>